.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    margin-top: 3rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-name {
    display: flex;
    flex-direction: column;
}

.hero-name>:nth-child(1) {
    color: #000;
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: bold;
}

.hero-name>:nth-child(2) {
    color: #2E77C0;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: bold;
}

.hero-name>:nth-child(3) {
    color: #000;
    font-size: 4rem;
    font-family: 'Poppins';
    font-weight: bold;
}

.hero-name>:nth-child(4) {
    color: #000;
    font-size: 3.8rem;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 45px;
    width: 95%;
}

.hero-name>:nth-child(5) {
    color: #000;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
}

.hero-buttons-container {
    display: flex;
}

.hero-button {
    width: 188px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #2e77c0;
    background-image: linear-gradient(#083d72, #2e77c0);
    cursor: pointer;
}

.hero-button:hover {
    text-decoration: none;
    scale: 1.05;
}

.hero-button:active {
    transform: scale(0.95);
}

.hero-button-cv {
    margin-left: 15px;
    background-image: linear-gradient(45deg, #2e77c0 0%, #083d72  51%, #2e77c0  100%);
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-right>:nth-child(1) {
    position: absolute;
}

.hero-right>:nth-child(2) {
    margin-bottom: 60px;
    z-index: 2;
}

.hero-right>:nth-child(3) {
    position: absolute;
    margin-bottom: 50px;
    z-index: 3;
}

@media screen and (max-width: 1334px) {
    .hero-right>:nth-child(1) {
        width: 100%;
        height: 575px;
        scale: 0.9;
    }

    .hero-right>:nth-child(2) {
        margin-bottom: 115px;
    }
    
    .hero-right>:nth-child(3) {
        margin-bottom: 105px;
    }
}

@media screen and (max-width: 1024px){
    .hero {
        margin-top: 1rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-left {
        margin: 0;
        scale: 0.95;
    }

    .hero-buttons-container {
        scale: 1.2;
    }

    .hero-right {
        margin: 0;
    }

    .hero-right>:nth-child(1), .hero-right>:nth-child(2), .hero-right>:nth-child(3) {
        width: 100%;
    }

    .hero-right>:nth-child(1){
        margin: 0px;
    }
    
    .hero-right>:nth-child(2) {
        margin-bottom: 40px;
    }

    .hero-right>:nth-child(3) {
        margin-top: 220px;
    }
}

@media screen and (max-width: 468px){
    .hero-left {
        scale: 0.7;
    }
}
