.about {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-side {
    display: flex;
    align-items: center;
}

.middle-side > img {
    width: 40%;
    margin-left: 100px;
}

.middle-side > span {
    margin-right: 80px;
    font-size: 0.9rem;
}

.bottom-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-side > p {
    font-size: 1.7rem;
    font-weight: bold;
}

.icons { 
    display: flex;
    gap: 4rem;
}

@media screen and (max-width: 820px){
    .about {
        margin-top: 20%;
    }

    .middle-side {
        margin-top: 20px
    }
}

@media screen and (max-width: 768px){
    .middle-side {
        flex-direction: column;
    }

    .middle-side > img {
        margin: 0;
        width: 75%;
    }

    .middle-side > span {
        margin: 0;
        padding: 0 15px;
        font-size: 1.5rem;
    }

    .icons {
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px){
    .middle-side > span {
        font-size: 1rem;
    }

    .icons {
        scale: 0.9;
        gap: 2rem;
    }

    .bottom-side { 
        scale: 0.9;
    }
}
