.footer {
    overflow: hidden;
    height: auto;
    width: 100%;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.upper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 3%;
}

.footer-divider {
    width: 77%;
    border-top: 2px solid #bbb;
}

.lower-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-icons {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 15px;
    scale: 1.25;
}

.footer-icons a {
    color: #000;
    transition: scale 0.2s ease-out;
}

.footer-icons a:hover {
    color: #2E77C0;
    scale: 1.1;
}

.rights {
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .footer {
        margin-top: 50px;
    }

    .lower-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-icons {
        margin-top: 30px;
        scale: 1.3;
    }
}
